<div id="main">
    <div id="pro1" class="pro">
        <h1 #h1>Product 1</h1>
        <img #img1 src="assets/productphotos/1.jpg" alt="">
        <button (click)="f1(h1,img1)">Learn more</button>
        </div>
    <div id="pro2" class="pro">
        <h1 #h2>Product 2</h1>
        <img #img2 src="assets/productphotos/2.jpg" alt="">
        <button (click)="f1(h2,img2)">Learn more</button>
    </div>
    <div id="pro3" class="pro">
        <h1 #h3>Product 3</h1>
        <img #img3 src="assets/productphotos/3.jpg" alt="">
        <button (click)="f1(h3,img3)">Learn more</button>
    </div>
    <div id="pro4" class="pro">
        <h1 #h4>Product 4</h1>
        <img #img4 src="assets/productphotos/4.jpg" alt="">
        <button (click)="f1(h4,img4)">Learn more</button>
    </div>
    <div id="pro5" class="pro">
        <h1 #h5>Product 5</h1>
        <img #img5 src="assets/productphotos/5.jpg" alt="">
        <button (click)="f1(h5,img5)">Learn more</button>
    </div>
    <div id="pro6" class="pro">
        <h1 #h6>Product 6</h1>
        <img #img6 src="assets/productphotos/6.png" alt="">
        <button (click)="f1(h6,img6)">Learn more</button>
    </div>
    <div id="pro7" class="pro">
        <h1 #h7>Product 7</h1>
        <img #img7 src="assets/productphotos/7.png" alt="">
        <button (click)="f1(h7,img7)">Learn more</button>
    </div>
    <div id="pro8" class="pro">
        <h1 #h8>Product 8</h1>
        <img #img8 src="assets/productphotos/8.jpg" alt="">
        <button (click)="f1(h8,img8)">Learn more</button>
    </div>
    <div id="pro9" class="pro">
        <h1 #h9>Product 9</h1>
        <img #img9 src="assets/productphotos/9.jpg" alt="">
        <button (click)="f1(h9,img9)">Learn more</button>
    </div>
</div>