<div>
    <h1 id="h1">Contact us</h1>
    <!-- <h2>Email:</h2><h3>HS&#64;gmail.com</h3><br>
    <h2>Phone:</h2><h3>+923057421850</h3><br> -->
    <h1 class="h1">Work Timing:-</h1>
    <h4 class="h1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa pariatur quibusdam consequatur nulla corporis similique cumque dolorum laudantium provident a. Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime iste enim voluptatem. Alias qui et impedit fuga dolorum. Architecto, tempore.</h4>
    <h1>Contact Timing:-</h1>
    <h4>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi corporis voluptatibus necessitatibus quibusdam. Ab vitae doloribus voluptatibus exercitationem veritatis est nisi perspiciatis velit vero, minus rerum iure eius accusamus odio?
    </h4>
</div>